/* Write your code here. */
.emoji-item {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.emoji-button {
  background-color: transparent;
  padding: 10px;
  border-radius: 12px;
  margin-right: 50px;
  margin-bottom: 25px;
  cursor: pointer;
  outline: none;
}
